<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="SA" connectionString="eng=BCNPNCPre;UID='CCADMIN';PWD='CCADMIN';links=tcpip(host=172.16.2.174);CharSet=cp1252;CON='SA'" providerName=""/>
		<add name="PNC7" connectionString="Data Source=.;Initial Catalog=PNC;Persist Security Info=True;User ID=sa;Password=Tunstall2015" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!--<system.data>
		<DbProviderFactories>
			<add name="Sybase iAnywhere .Net data provider" 
				 invariant="iAnywhere.Data.SQLAnywhere" 
				 description=".NET Framework Data Provider for Sybase iAnywhere" 
				 type="iAnywhere.Data.SQLAnywhere, Version=11.0.1.28082, Culture=neutral, PublicKeyToken=f222fc4333e0d400"/>
		</DbProviderFactories>
	</system.data>-->
</configuration>