################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/suo
/packages
*.suo
/EPSFramework.DAL/EPSFramework.DAL.TestConsole/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.TestConsole/obj/Debug
*.user
/EPSFramework.DAL/EPSFramework.DAL.Mappings.Sample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.Mappings.Sample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL.Entities.Sample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.Entities.Sample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL.DatabaseSample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.DatabaseSample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL/bin/Debug
/Backup/
/EPSFramework.Templates/Source/packages
/EPSFramework.Templates/Source/EPapersoftWindowsService/bin
/EPSFramework.Templates/Source/EPapersoftWindowsService/obj
/EPSFramework.Templates/Source/EPapersoftWindowsService.FileWriter/bin
/EPSFramework.Templates/Source/EPapersoftWindowsService.FileWriter/obj
/EPSFramework.Templates/Source/EPapersoftWindowsService.IoC/bin
/EPSFramework.Templates/Source/EPapersoftWindowsService.IoC/obj
/EPSFramework.Templates/Source/packages
/EPSFramework.Templates/TemplateProject/EPapersoft.Framework.VisualStudioDTE/obj/Debug
/EPSFramework.Templates/TemplateProject/EPapersoftWindowsServiceWizard/bin/Debug
/EPSFramework.Templates/TemplateProject/EPapersoftWindowsServiceWizard/obj/Debug
/EPSFramework.Templates/TemplateProject/EPapersoftWindowsService.IoC/obj/Debug
/EPSFramework.Templates/TemplateProject/EPSWindowsServiceVSIXProject/bin/Debug
/EPSFramework.Templates/TemplateProject/EPSWindowsServiceVSIXProject/obj/Debug
/EPSFramework.Templates/TemplateProject/packages/log4net.2.0.5
/EPSFramework.Templates/TemplateProject/EPapersoftWindowsService/obj/Debug
/EPSFramework.Templates/TemplateProject/EPapersoftWindowsService/bin/Debug
