################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/suo
/packages
*.suo
/EPSFramework.DAL/EPSFramework.DAL.TestConsole/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.TestConsole/obj/Debug
*.user
/EPSFramework.DAL/EPSFramework.DAL.Mappings.Sample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.Mappings.Sample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL.Entities.Sample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.Entities.Sample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL.DatabaseSample/bin/Debug
/EPSFramework.DAL/EPSFramework.DAL.DatabaseSample/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL/obj/Debug
/EPSFramework.DAL/EPSFramework.DAL/bin/Debug
/Backup/
/EPSFramework.Templates/EPapersoftWindowsService/bin/Debug
/EPSFramework.Templates/EPapersoftWindowsService/obj/Debug
/EPSFramework.Templates/EPapersoftWindowsService.FileWriter/bin/Debug
/EPSFramework.Templates/EPapersoftWindowsService.FileWriter/obj/Debug
/EPSFramework.Templates/EPapersoftWindowsService.IoC/obj/Debug
/EPSFramework.Templates/packages/log4net.2.0.5
/EPSFramework.Templates/EPapersoftWindowsService.IoC/bin/Debug
