<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ioCSection" type="AutoDialer.Engine.IoC.ConfigurationHandler.DIComponentSection, AutoDialer.Engine.IoC, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
	</configSections>
	<!-- Sample of the "how to" of iocSection. Add -->
	<ioCSection>
		<DIComponents>
			<component assemblyName="">
				<dependencies>
					<mapping interface="" implementedBy=""/>
				</dependencies>
			</component>			
		</DIComponents>
	</ioCSection>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
