<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ioCSection" type="$safeprojectname$.IoC.ConfigurationHandler.DIComponentSection, $safeprojectname$.IoC, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="eps.service" type="$safeprojectname$.ConfigurationHandler.EPapersoftServiceSection, $safeprojectname$, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <sectionGroup name="activities" type="$safeprojectname$.ConfigurationHandler.ActivitiesSectionGroup, $safeprojectname$, Version=1.0.0.0, Culture=neutral">
      <section name="activities.runtime" type="$safeprojectname$.ConfigurationHandler.ActivitiesSettingSection, $safeprojectname$, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <ioCSection>
    <DIComponents>
      <component assemblyName="$safeprojectname$.WorkerModule" />
    </DIComponents>
  </ioCSection>
  <eps.service xsi:noNamespaceSchemaLocation="ConfigurationHandler\Schemas\EPapersoftServiceSection.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <workers>
      <worker id="1" name="mainWorker" factory="">
        <programming period="DefinedInterval">
          <cycle time="15" unit="seconds">
          </cycle>
        </programming>
      </worker>
    </workers>
  </eps.service>
  <activities>
    <activities.runtime>
      <activities.settings>
        <!-- Time in minutes to stop if stop is commanded and the app seems not to responds in that time -->
        <add key="OnStopWaitTimeout" value="3" />
        <add key="OnReloadWaitTimeout" value="1" />
      </activities.settings>
    </activities.runtime>
  </activities>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>