<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="ioCSection" type="$safeprojectname$.IoC.ConfigurationHandler.DIComponentSection, $safeprojectname$.IoC, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="eps.service" type="$safeprojectname$.ConfigurationHandler.EPapersoftServiceSection, $safeprojectname$, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <sectionGroup name="activities" type="$safeprojectname$.ConfigurationHandler.ActivitiesSectionGroup, $safeprojectname$, Version=1.0.0.0, Culture=neutral">
      <section name="activities.runtime" type="$safeprojectname$.ConfigurationHandler.ActivitiesSettingSection, $safeprojectname$, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <ioCSection>
    <DIComponents>
      <component assemblyName="$ext_safeprojectname$.WorkerModule1" />
    </DIComponents>
  </ioCSection>
  <eps.service xsi:noNamespaceSchemaLocation="ConfigurationHandler\Schemas\EPapersoftServiceSection.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <workers>
      <worker id="1" name="mainWorker" factory="">
        <programming period="DefinedInterval">
          <cycle time="15" unit="seconds"></cycle>
          <!--<appointment hour="10" minute="10"/>-->
          <!--<until hour="23" minute="59"/>-->
        <!--<daysofweek>
          <dayofweek name="Monday"/>
        <dayofweek name="Tuesday"/>
        <dayofweek name="Thursday"/>
        </daysofweek>-->
        </programming>
      </worker>
    </workers>
  </eps.service>
  <activities>
    <activities.runtime>
      <activities.settings>
        <!-- Time in minutes to stop if stop is commanded and the app seems not to responds in that time -->
        <add key="OnStopWaitTimeout" value="3" />
        <add key="OnReloadWaitTimeout" value="1" />
      </activities.settings>
    </activities.runtime>
  </activities>
  <connectionStrings></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics configSource="Tracing.config"></system.diagnostics>
</configuration>
