	
	
	
	
	
	
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="iAnywhere.Data.SQLAnywhere" 
		    publicKeyToken="f222fc4333e0d400" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="11.0.0.0-11.0.1.29602"
		    newVersion="11.0.1.29602"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
